#chat-autocompleter {
	display: none;
	width: auto;
	max-height: 100px;
	overflow-y: scroll;
	position: absolute;
	background-color: white;
	background: white;
	right: 300px;
	z-index: 33300;
}

#chat-autocompleter > ul > li.selected {
	background-color: #CCC;
}

#chat-autocompleter > ul > li {
	text-align: center;
	list-style: none;
}

#chat-autocompleter > ul > li > span {
	padding-left: 25px;
	padding-right: 25px;
}